application: ltc-snippets
version: 2
runtime: python27
threadsafe: true
api_version: 1

default_expiration: '3650d'

builtins:
- remote_api: on
- appstats: on

error_handlers:
  - file: templates/generic_error.html
  - error_code: over_quota
    file: templates/over_quota.html

libraries:
- name: django
  version: latest

inbound_services:
- mail

handlers:
- url: /_ah/mail/snippets@.*snippets\.appspotmail\.com
  script: receive_email.application
  login: admin

- url: .*
  script: main.application
  secure: always

