<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} &middot; {{site_name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Le styles -->
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
      <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
  </head>
</head>

<body>
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">{{site_name}}</a>
          <div class="nav-collapse collapse">
              <p class="navbar-text pull-right">
              send your snippets to <a target="_blank" href="mailto:{{site_email}}">{{site_email}}</a>
            </p>
            <ul class="nav">
              <li><a href="/user/{{ current_user.email }}">Logged in as {{ current_user.pretty_name }}</a></li>
              <li>{% if current_user.enabled %}<a class="light" href="?setenabled=0">click to disable</a>{% else %}<a class="light" href="?setenabled=1">click to enable</a>{% endif %}</li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  <div class="container">

        <div class="row">
            <div class="span12">


          </div>
        </div>
          {% block body %}{% endblock %}
  </div>
</body>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
</html>
