<!DOCTYPE html>
<html>
<head>
  <title>ERROR</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Le styles -->
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  </head>
</head>

<body>



  <div class="container">
  <h1>Error occurred!</h1>
  <p>This has been reported.</p>
  <pre style="font-size: 10px;">
{{traceback}}
  </pre>
  </div> <!-- /container -->
  </body>
</html>
