{% extends "base.html" %}

{% block title %}Welcome{% endblock %}
{% block body %}
    <div class="row">
        <div class="span12">
    <h2><a href="/user/{{ current_user.email }}">{{ current_user.pretty_name }}</a></h2>

    currently
    {% if current_user.enabled %}
      enabled (<a class="light" href="?setenabled=0">disable</a>)
    {% else %}
      disabled (<a class="light" href="?setenabled=1">enable</a>)
    {% endif %}
    <form action="/" method="get">

    my tags <input name="tags" type="text" value="{{ current_user.tags|join:"," }}"/></form>

    </td></tr></table>
    <br/>

    send your snippets to <a target="_blank" href="mailto:{{site_email}}">{{site_email}}</a> by monday afternoon!
    <br/><br/>
    <div class="span4">

    <table class="table table-condensed table-striped table-hover table-bordered">
        <caption><h3>Users</h3></caption>
        <thead>
        <tr>
            <th>Users</th>
            <th>Follow</th>
        </tr>
        </thead>
        <tbody>
            {% for user in all_users %}
            <tr>
              <td><a href="/user/{{ user.0.email }}">{{ user.0.pretty_name }}</a></td>
              <td>
              {% if user.1 %}
                ✓ <a class="light" href="/unfollow?user={{ user.0.email }}&continue=/">unfollow</a>
              {% else %}
                <a class="light" href="/follow?user={{ user.0.email }}&continue=/">follow</a>
              {% endif %}
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="span4">
    <table class="table table-condensed table-striped table-hover table-bordered">
        <caption><h3>Tags</h3></caption>
        <thead>
        <tr>
            <th>Tags</th>
            <th>Follow</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in all_tags %}
        <tr>
              <td><a href="/tag/{{ tag.0 }}">{{ tag.0 }}</a></td>
              <td>
        {% if tag.1 %}
            ✓ <a class="light" href="/unfollow?tag={{ tag.0 }}&continue=/">unfollow</a>
        {% else %}
            <a class="light" href="/follow?tag={{ tag.0 }}&continue=/">follow</a>
        {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

</div>
</div>


{% endblock %}
