{% extends "base.html" %}

{% block title %}Welcome{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
           <h1>Welcome back, <a href="/user/{{ current_user.email }}">{{ current_user.pretty_name }}</a></h1>



            Send your snippets to <a target="_blank" href="mailto:{{site_email}}">{{site_email}}</a> by monday afternoon!
            <br/><br/>
        </div>
    </div>

{% if followed_snippets %}
    <div class="row">
  <div class="col-md-12">
    <h2>Snippets for this week <small>({{retrieval_date}})</small></h2>
    {% for snippet in followed_snippets %}
      <b><img class="img-circle" src="https://0.gravatar.com/avatar/{{snippet.email_md5 }}?s=25" >
      <a href="/user/{{ snippet.user.email }}">{{ snippet.user.pretty_name }}</a></b><br/>
      <pre>{{ snippet.text|urlize }}</pre>
      <br/>
    {% endfor %}
   </div>
 </div>
 {% else %}
 <h2>No followed snippets for this week <small>({{retrieval_date}})</small></h2>
 <p>Follow some people or tags or wait until next week.</p>
 {% endif %}
<hr />
    <div class="row">
    <div class="col-md-6">

    <table class="table table-condensed table-striped table-hover table-bordered">
        <caption><h3>Users</h3></caption>
        <thead>
        <tr>
            <th>Users</th>
            <th>Follow</th>
        </tr>
        </thead>
        <tbody>
            {% for user in all_users %}
            <tr>
              <td><a href="/user/{{ user.0.email }}">{{ user.0.pretty_name }}</a></td>
              <td>
              {% if user.1 %}
                ✓ <a class="light" href="/unfollow?user={{ user.0.email }}&continue=/">unfollow</a>
              {% else %}
                <a class="light" href="/follow?user={{ user.0.email }}&continue=/">follow</a>
              {% endif %}
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="col-md-6">
    <table class="table table-condensed table-striped table-hover table-bordered">
        <caption><h3>Tags</h3></caption>
        <thead>
        <tr>
            <th>Tags</th>
            <th>Follow</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in all_tags %}
        <tr>
              <td><a href="/tag/{{ tag.0 }}">{{ tag.0 }}</a></td>
              <td>
        {% if tag.1 %}
            ✓ <a class="light" href="/unfollow?tag={{ tag.0 }}&continue=/">unfollow</a>
        {% else %}
            <a class="light" href="/follow?tag={{ tag.0 }}&continue=/">follow</a>
        {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

</div>


{% endblock %}
