{% extends "base.html" %}

{% block body %}

<div class="row">
  <div class="col-md-12">

    <h1>Snippets tagged '{{ tag }}'
      <small>

    {% if following %}
      ✓ <a class="light" href="/unfollow?tag={{ tag }}&continue=/tag/{{ tag }}">unfollow</a>
    {% else %}
      <a class="light" href="/follow?tag={{ tag }}&continue=/tag/{{ tag }}">follow</a>
    {% endif %}
    </small>
    </h1>

  </div>
</div>

<div class="row">
  <div class="col-md-12">

    {% for snippet in snippets %}
       <b><a href="/user/{{ snippet.user.email }}">{{ snippet.user.pretty_name }}</a></b><br/>
      <pre>{{ snippet.text|urlize }}</pre>
      <br/>
    {% endfor %}
   </div>
 </div>

{% endblock %}
