{% extends "base.html" %}

{% block body %}
<div class="row">
  <div class="span12">

    <h1>{{ user.email }} <small>{% if following %}
      ✓ <a class="light" href="/unfollow?user={{ user.email }}&continue=/user/{{ user.email }}">unfollow</a>
    {% else %}
      <a class="light" href="/follow?user={{ user.email }}&continue=/user/{{ user.email }}">follow</a>
    {% endif %}</small></h1>


</div>
</div>
<div class="row">
<div class="span2 pull-right well">
    <b>Tags</b><br/>
    {% for tag in tags %}
        {{ tag.0 }}
		    {% if tag.1 %}
		      ✓ <a class="light" href="/unfollow?tag={{ tag.0 }}&continue=/user/{{ user.email }}">unfollow</a>
		    {% else %}
		      <a class="light" href="/follow?tag={{ tag.0 }}&continue=/user/{{ user.email }}">follow</a>
		    {% endif %}
        <br/>
    {% endfor %}

  </div>

  <div class="span10">
    {% for snippet in snippets %}
      <b>{{ snippet.date }}</b><br/>
      <pre>{{ snippet.text|urlize }}</pre>
      <br/></br>
    {% endfor %}
   </div>

</div>
{% endblock %}

{% block title %}Snippets for {{ user.email }}{% endblock %}